/*
 * Basic styling for this page.
 *
 * @author Junbo Li
 */

 body{
     /* background: lightblue; */
     text-align: center;
     font-size: 20px;
 }

 #todo-form {
     padding: 5px;
     margin: 10px;
     margin-left: 30%;
     margin-right: 30%;
     margin-bottom: 50px;
     border: solid;
 }

 .list-item{
     font-family:fantasy;
     font-weight: bold;
 }

 .list-item:hover {
     background-color: lightblue;
 }

 #todo-list #title {
     font-size: 50px;
 }

 .delete {
     background-color: red;
 }
